body {
    font-family: Arial, sans-serif;
    background: #eef2f3;
    display: flex;
    gap: 40px;
    padding: 20px;
}

.chat-container {
    background: rgba(255, 255, 255, 0.745);
    width: 400px;
    height: 500px;
    border-radius: 10px;
    padding: 15px;
    overflow-y: auto;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

#chat-box p {
    padding: 8px;
    border-radius: 8px;
    margin: 5px 0;
}

.bot {
    background: #d0eaff;
}

.user {
    background: #fff1a8;
    text-align: right;
}

.dashboard {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.emoji-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.emoji-btn {
    font-size: 22px;
    cursor: pointer;
    padding: 10px;
    border: none;
    background: #e9ecef;
    border-radius: 8px;
    transition: 0.2s;
}

.emoji-btn:hover {
    background: #cfe2ff;
    transform: scale(1.1);
}

