body {
    font-family: Arial, sans-serif;
    background: #eef2f3;
    display: flex;
    gap: 40px;
    padding: 20px;
}

.chat-container {
    background: rgba(255, 255, 255, 0.745);
    width: 400px;
    height: 500px;
    border-radius: 10px;
    padding: 15px;
    overflow-y: auto;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

#chat-box p {
    padding: 8px;
    border-radius: 8px;
    margin: 5px 0;
}

.bot {
    background: #d0eaff;
}

.user {
    background: #fff1a8;
    text-align: right;
}

.dashboard {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.emoji-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.emoji-btn {
    font-size: 22px;
    cursor: pointer;
    padding: 10px;
    border: none;
    background: #e9ecef;
    border-radius: 8px;
    transition: 0.2s;
}

.emoji-btn:hover {
    background: #cfe2ff;
    transform: scale(1.1);
}

.typing {
    font-style: italic;
    color: #555;
}

.dots {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
}

.recommendations-box {
    background: white;
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
#emoji-tooltip {
    transition: opacity 0.2s ease;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    z-index: 9999;
}

.modal-content {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    animation: fadeIn 0.3s ease;
}

.modal-btn {
    background: #3b82f6;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
}

@keyframes fadeIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.admin-btn {
    background: #6a00f4;
    margin-top: 15px;
}
.modal-content input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

